@(professor: Professor)

@import helper._

@main("Plano de Aula") {
    
    <div class="span9">
    	
	    <h1>Professor @professor.nome</h1>
	    
	    <div id="divInformacoesProfessor" >
			<label>Nome: @professor.nome</label>
			<label>Telefone: @professor.telefone</label>
			<label>Email: @professor.email</label>
			<label>Sobre: @professor.descricao</label>
		 </div>
		 
		 <br/>

		 <div class="accordion" id="accordion2">
			<h1>Minhas Salas</h1>
			@for(sala <- professor.salas) {
				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse@sala.id">
				        @sala.nome - @sala.disciplina - @sala.escola
				      </a>
				    </div>
				    <div id="collapse@sala.id" class="accordion-body collapse out">
				      <div class="accordion-inner">
				        Sala: @sala.nome <br/>
				        Disciplina: @sala.disciplina <br/>
				        Escola: @sala.escola <br/>
				        Descrição: @sala.descricao <br/>
				        </br>
				        <a class="accordion-toggle" href="/aulas/@sala.id">Plano de Aula</a>
				        
				      </div>
				    </div>
				  </div>
			}
		 </div>
		 
		 <a class="btn btn-success" href="/sala/@professor.id">Criar nova sala</a>
	  	
	</div>
}