@(sala: Sala, aulaForm: Form[Aula])

@import helper._

@main("Plano de Aula")(sidebar) {
    
    
    <div class="span10">
        
    	<h2>@sala.nome - @sala.disciplina</h2>
    	<h3>Prof. @sala.professor.nome</h3>

		<div class="fb-like" data-href="http://localhost:9000/" data-send="true" data-layout="button_count" 
			data-width="450" data-show-faces="true">
		</div>


		<div class="accordion" id="accordion2">
		  @for(aula <- sala.aulas) {
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse@aula.id">
			        <i class="icon-file"></i> Aula @aula.numero - @aula.nome
			      </a>
			    </div>
			    <div id="collapse@aula.id" class="accordion-body collapse out">
			      <div class="accordion-inner">
			        @aula.descricao
			        <br/>
			        <br/>
			        <br/>
			        <div class="fb-like" data-href="http://localhost:9000/" data-send="true" data-layout="button_count" 
						data-width="450" data-show-faces="true">
					</div>
			        
			      </div>
			    </div>
			  </div>
		  }
		</div>
			

	</div>
}


@sidebar = {

        <div class="span2">
        
        	<div >
				<img  src="https://graph.facebook.com/1354822114/picture?width=120&amp;height=120" style="height:164px;width:164px;" />
			</div>

			<br/>
        
          <div class="well sidebar-nav" >
            <ul class="nav nav-list">
              <li class="nav-header">Opções</li>
              <li><a href="/professorPerfil/1">Perfil</a></li>
              <li><a href="/professorPerfil/1">Editar Perfil</a></li>
              <li><a href="/professorPerfil/1">Minhas Salas</a></li>
              <li><a href="/professorPerfil/1">Nova Sala</a></li>
              <li><a href="#">Solicitações</a></li>
              <li><a href="#">Meus Alunos</a></li>
              <li><a href="#">Meus Professores</a></li>
              <li><a href="#">Salas Favoritas</a></li>
              <li><a href="#">Agenda</a></li>
			  <li><a href="#">Calendário</a></li>
              <li><a href="#">Atividades</a></li>
            </ul>
          </div>
          
          <div class="fb-like-box" data-href="http://www.facebook.com/edlrcomunicacao" data-width="195" data-show-faces="true" data-stream="false" data-header="true">
	      </div>
	       
	      <br/>
	      <br/>
          
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Institucional</li>
              <li><a href="#">Editar Perfil</a></li>
              <li><a href="#">Sobre Nós</a></li>
              <li><a href="#">Convidar um amigo</a></li>
              <li><a href="#">Wikipedia</a></li>
            </ul>
          </div>
          
       </div>

}