@(title: String)(sidebar: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- Le styles -->
	    <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">
	    <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	      .sidebar-nav {
	        padding: 9px 0;
	      }
	    </style>
	    <link href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")" rel="stylesheet">
        
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="@routes.Assets.at("../assets/ico/favicon.ico")">
	    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.at("../assets/ico/apple-touch-icon-144-precomposed.png")">
	    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("../assets/ico/apple-touch-icon-114-precomposed.png")">
	    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("../assets/ico/apple-touch-icon-72-precomposed.png")">
	    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("../assets/ico/apple-touch-icon-57-precomposed.png")">
        
        
    </head>
    <body>
    
    
    	<!-- CABEÇALHO -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse"
						data-target=".nav-collapse"> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> </a> <a
						class="brand" href="/">Plano de Aula</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right">
							<a href="/professorPerfil/1" class="navbar-link">Login</a>
						</p>
						<ul class="nav">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/professor">Novo Professor</a>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- CABEÇALHO -->
    
    
    
      <div class="container-fluid">
      	<div class="row-fluid">
	
		@sidebar
        @content
     
       </div>
       
       <br/>
       
       <div align="center">
       		© 2012 PlanoDeAula - Todos os direitos reservados
       </div>
       
     </div>
      
	    <!-- Le javascript ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="@routes.Assets.at("bootstrap/js/jquery.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-transition.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-alert.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-modal.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-dropdown.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-scrollspy.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-tab.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-tooltip.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-popover.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-button.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-collapse.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-carousel.js")"></script>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap-typeahead.js")"></script>
    
    </body>
    
</html>
